<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
    <!-- 
        ***注意*** 
        手动添加的内容：
        xmlns:jaxws="http://cxf.apache.org/jaxws"
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd"
     -->
    

    <!-- <bean id="client" class="com.edu.service.IHelloService" factory-bean="clientFactory" factory-method="create" />

    <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="com.edu.service.IHelloService" />
        <property name="address" value="http://localhost:8080/cxf/ws/helloService" />
    </bean> -->
    <bean id="bank" class="com.edu.service.IBankService" factory-bean="clientFactory" factory-method="create" />

    <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="com.edu.service.IBankService" />
        <property name="address" value="http://localhost:8080/cxfbank/ws/bankService" />
    </bean>
    
    <bean id="company" class="com.edu.service.ICompanySerivce" factory-bean="clientFactory" factory-method="create" />

    <bean id="clientFactory2" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="com.edu.service.ICompanySerivce" />
        <property name="address" value="http://localhost:8080/cxcompany/ws/companyService" />
    </bean>
</beans>